
#################
## G-SAW
#################

cache/
temp/
mincludes/
upload/

*.txt
*.xls
*.xlsx
*.pdf
*.log

*.sublime-workspace
modules/clients/submodul/test_sub_modul/controller/listtestsou_c.php
modules/clients/submodul/test_sub_modul/controller/testsou_c.php
modules/clients/submodul/test_sub_modul/controller/testsou_c.php
modules/clients/submodul/test_sub_modul/controller/listtestsou_c.php
